agent.openstack.metadata.nova_metadata_url="http://{{ midonet_cluster_metadata_host }}:8775"
agent.openstack.metadata.shared_secret="{{ midonet_cluster_metadata_secret }}"
agent.openstack.metadata.enabled=true
